<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Project Tracking System</title>

    <link rel="stylesheet" type="text/css" href="resources/css/pts-all.min.css">

    <script type="text/javascript" src="ext.min.js"></script>

    <script type="text/javascript">
        Ext.namespace('PTS');
        PTS.baseURL = '{{ baseURL }}';
        Ext.define('PTS.UserId', {
            singleton: true,

            id: '{{ loginid }}',
            paths: [
            {%- for path, name in paths -%}
                {text:"{{ name|e('js') }}",  url:"/pts/{{ path|e('url') }}"}{% if not loop.last %}, {% endif %}
            {%- endfor -%}
            ],
            title: "{{ apptitle|e('js') }}"
        });
    </script>
    <script type="text/javascript" src="app-all.min.js"></script>
    <script type="text/javascript">
       // tell OpenLayers where the control images are
       // remember the trailing slash
       OpenLayers.ImgPath = "/pts/resources/images/ol/";
    </script>    
</head>
<body></body>
</html>
